@import "./settings/reset";
@import "./settings/_fonts";
@import "./settings/_colors";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
*{
    text-decoration: none;
    box-sizing: border-box;
}
@mixin column-centr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    font-family: $font-base;
    display: flex;
    justify-content: center;
}
#root{
    display: flex;
    flex-direction: column;
    width: 100vw;
    // min-width: 1900px;
    // min-width: 1500px;
    max-width: 1900px;
}
.contener{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    &-sections{
        display: flex;
        padding: 50px;
        padding: 100px 10% 100px 0;
        justify-content: flex-end;
    }
}
.navbar{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .login{
        height: 36px;
        gap: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a, button{
            cursor: pointer;
           background: none;
           border: none;
            font-size: 1rem;
            padding: 10px 25px;
            text-overflow: clip;
            color: $color-steps;
            &:hover{

                box-shadow: inset 0px 0px 0px 3px $color-info;
            }
        }
        p{
            font-size: 1rem;
            padding: 10px 25px;
            text-overflow: clip;
            color: $color-steps;
        }
       
    }
    .nav{
        display: flex;
        justify-content: flex-end;
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

         a{
             color: $color-text;
                font-size: 1rem;
                padding: 10px 30px ;
                white-space: nowrap;
            &:hover{

                box-shadow: inset 0px 0px 0px 3px $color-nav;
            }
         }
        }
        
    }
}
.main{
    width: 670px;
    font-size: 2rem;
    @include column-centr();
    &-text{
        text-align: center;
        @include column-centr;
        gap: 20px;
        img{
            width: 50%;
        }
    }
    &-btns{
        margin-top: 30px;
        display:  flex;
        gap: 20px;
        button, a {
            text-align: center;
            font-size: 1rem;
            text-transform: uppercase;
            line-height: 20px;
            color: $color-steps;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            padding: 20px;
            background: none;
            border: 2px solid $color-steps;
        }
    }
    &-contener{
        // padding: 20px;
        // text-align: center;
        @include column-centr;
        margin: 20px;
        color: #3c3c3c82;
       
    }
    &-steps{
        padding: 20px 0;
        display: flex;
        padding: 60px 0 0 0;
        gap: 50px;
        div{
            position: relative;
            margin: 20px;
           @include column-centr;
           
        }
        div::before{
            position: absolute;
            content: "";
            width: 170px;
            height: 170px;
            border: 2px solid #3c3c3c82;
            transform: rotate(45deg);

        }
    }
}
.home-info{
    width: 100%;
    display: flex;
    background-color: $color-info;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    &-content {
        width: 25%;
        @include column-centr;
        gap: 20px;
        h2{
            font-size: 2rem;
        }
        p:first-of-type{
            
            text-transform: uppercase;
        }
        p{
            text-align: center;
        }
    }
}
.home-steps{
    margin-top: 20px;
    @include column-centr;
    width: 100%;
    &-text{
        text-align: center;
        h2{
            font-size: 1.5rem;
        }
        img {
            margin: 20px;
            width: 50%;
        }
    }
    &-instructions{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color1;
        padding: 50px 0;
        gap: 30px;
        .instruction{
            width: 200px;
            text-align: center;
            @include column-centr;
            span {
                border-bottom: 2px solid $color-steps;
                width: 50%;
                margin: 20px;
            }
        }
    }
    a {
        text-align: center;
        margin: 20px 0 40px 0;
        text-transform: uppercase;
        line-height: 20px;
        color: $color-steps;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background: none;
        border: 2px solid $color-steps;
        
    }
}
.home-about-us{
    display: flex;
    width: 100%;
    &-text{
        padding: 80px;
        background-color: $color1;
        h2{
            color: $color-steps;
            font-size: 2rem;
        }
        img:first-of-type {
            margin: 20px
        }
        p{
            color: $color-steps;
            text-align: center;
        }
        .signature{
            position: relative;
            width: 30%;
            right: -40%;
            bottom: -40%;
            transform: translate(-50%, -50%)
        }
        @include column-centr;
    }
    img{
        width: 50%;
    }
}
.home-contacts{
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: url(../assets/Background-Contact-Form.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 100px;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        filter: opacity(0.8);
    }
    form{
        position: relative;
        width: 530px;
        z-index: 2;
        // width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        h2{
            font-size: 2rem;

        }
    }
    &-inputs{
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 100%;
        
    }
    &-input{
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
       
        input {
            width: 100%;
            padding-top: 10px;
            background: none;
            border: none;
            // padding: 10px;
            border-bottom: 2px solid $color-steps;
        }
    }
    &-massage{

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        textarea{
            width: 100%;
            background: none;
            border: none;
            padding-top: 10px;
            border-bottom: 2px solid $color-steps;
        }
    }
    button {
        position: absolute;
        right: 40px;
        bottom: -50px;
        width: 150px;
        height: 50px;
        background:none;
        border: 0.75px solid #3C3C3C;
        cursor: pointer;
    }
}

.loginScreen{
    // margin-top: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    h1{
        font-size: 2rem;
    }    
    .logout-btn{
        padding: 20px 0;

        a{
            color: $color-text;
            background: none;
            padding: 15px 30px;
            border: none;
            box-shadow: inset 0px 0px 0px 3px $color1;


        }
    }
}
.login-form{
    margin-top: 20px;
    width: 500px;
    @include column-centr;
    &-inputs{
         width: 400px;
        background-color: $color1;
        padding: 20px;
    div{
        display: flex;
        flex-direction: column;
        padding: 20px;

        input{
            
            background: none;
            border: none;
            padding: 10px;
            border-bottom: 2px solid $color-steps;
        }
    }}
    &-btns{
        padding: 20px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        button, a{
            color: $color-text;
            background: none;
            padding: 15px 30px;
            border: none;
            &:hover{
                box-shadow: inset 0px 0px 0px 3px $color1;
                cursor: pointer;
            }
        }
    }

}
.home-footer{
    bottom: 30px;
    right: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    &-icons{
        position: absolute;
        right: 10%;
        display: flex;
        gap: 10px;
    }
}
.home-organization{
    padding: 30px;
    @include column-centr;
    width: 100%;
    .heading{
        h2{
            font-size: 1.5rem;
        }
        @include column-centr;
    }
    .carusel{
        width: 80%;
        &-btns{
            display: flex;
            justify-content: center;
            gap: 20px;
            button {
                text-align: center;
                font-size: 1rem;
                color: #737373;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 140px;
                padding: 5px;
                background: none;
                border: none;
                &:focus{
                    box-shadow: inset 0px 0px 0px 3px #737373;
                }
            }

        }
        .item{

            @include column-centr;
            &-text{
                padding: 30px;
                width: 640px;
                text-align: center;
            }
            p{
                color: #3c3c3cb6;
            }
            ul{
                width: 100%;
                margin-top: 30px;
                li{
                    padding: 20px 0;
                    width: 100%;
                    border-bottom: 2px solid $color-steps;
                    display: flex;
                    justify-content: space-between;
                    .li-heading{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                }
            }
            .page-btns{
                padding: 20px;
                display: flex;
                gap: 20px;
                button{
                    background: none;
                    padding: 10px;
                    border: none;
                    &:focus{
                        box-shadow: inset 0px 0px 0px 2px #707070;

                    }
                }

            }
        }
    }
}
.hand-over-steps{
    
    width: 100%;
}
.hand-over-impotant{
    height: 180px;
    background-color: $color-info;
    padding: 50px 140px;
    h2{
        font-size: 2rem;
        font-weight: 600;
    }
    p{
        padding-top: 20px;
    }

}
.hand-over-form{
    width: 100%;
    min-height: 880px;
    background-image: url("../assets/Background-Form.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50px 140px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    // justify-content: space-between;
    align-items: flex-start;
    span{
        color: $color-text;
    }
    button {
        background: none;
        border: 2px solid #3c3c3c82;
        padding: 15px 40px;
        font-size: 18px;
    }
    &-inputs{
        display: flex;
        flex-direction: column;
       
        p{
            font-size: 2rem;
            padding-bottom: 30px;
        }
        label{
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 20px;
        }

        input {
            position: relative;
       width:40px ;
       height: 40px;
            place-content: center;
          }
          input::before {
              position: absolute;
            content: "";
            width: 39px;
            height: 39px;
            border: 1px solid rgb(112, 110, 110);
            opacity: 0;
            transition: 120ms transform ease-in-out;
            background-color: $color-info;
          }
          
          input:checked::before {
            opacity: 1;
          }
    }
}